body {
  /*height: 600px;*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.left,
.right {
  display: flex;
  gap: 16px;
  margin: auto 0;
  padding: 0;
}

input {
  border: none;
  background-color: transparent;
  outline: 0;
  font-size: 18px;
  padding: 0;
  margin: 0;
  padding-left: 2px;
}

.search {
  display: flex;
  height: 30px;
  border: solid 3px rgb(192, 192, 192);
  border-radius: 15px;
  margin-top: auto;
}

img {
  background-color: rgb(192, 192, 192);
  padding: 1px;
  border-radius: 10px;
  width: 28px;
}

ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  gap: 12px;
}

li {
  font-size: 20px;
}

a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f2937;
  margin: 0;
  padding: 20px;
}

.footer {
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
}

.hero {
  display: flex;
}
